@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --shadow-nav:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  --font-display: "Manrope", sans-serif;
  --font-hero: "Manrope", sans-serif;
  --color-imp: oklch(55.3% 0.195 38.402);
}
